<div>
    <div>
        <img src="https://i1.sndcdn.com/artworks-FBXeIjD64z4Xu4g0-3UoNZg-t500x500.jpg" alt="song-cover">
    </div>

    <div class="song-info">
        <div class="song-details">
            <h2>{songTitle}</h2>
            <p>{artistTitle}</p>
        </div>
        <button></button>
    </div>

    <div class="progress-bar">
        <span id="current-time">0:00</span>
        <input type="range" id="seek-bar" value="0">
        <span id="duration">0:00</span>
    </div>

    <div class="controls">
        <button id="shuffle"><i class="fa fa-random"></i></button>
        <button id="previous"><i class="fa fa-backward"></i></button>
        <button id="play-pause"><i class="fa fa-play"></i></button>
        <button id="next"><i class="fa fa-next"></i></button>
        <button id="repeat"><i class="fa fa-redo"></i></button>
    </div>

    <div class="bottom-row">
        <button id="connect-devices"><i class=" fa fa-laptop"></i></button>
        <button id="playlist"><i class="fa fa-list"></i></button>
    </div>
</div>

